/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 sep. 2022, 19:14:58
    Author     : andre
*/

.block {
    
    background-color: purple;
    width: 200PX;
    height: 200px;
    padding: 20px;
    border: 20px solid blue;
    box-sizing: border-box;
       
}

.static {
    
    position: static;
    border: 3px solid green;
    top: 400;
    left: 500px;
    
}

.relative {
    
    position: relative;
    border: 3px solid lightpink;
    top: 400;
    left: 500px;
    width: 200px;
    height: 200px;
    
}

.absolute {
    
    position: absolute;
    border: 3px solid red;
    top: 400;
    left: 500px;
    
}

.fixed {
    
    position: fixed;
    border: 3px solid lightseagreen;
    top: 400;
    left: 500px;
    
}